
<nav class="navbar bg-primary">
  <h1>
    <a routerLink="/admin/dashboard">Welcome to Library {{auth.userRole}} </a>
    </h1>



  <ul *ngIf="auth.isAuthenticate()">

    <div *ngIf="auth.isAuthenticate() && auth.userRole==('Admin')">
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'userroles']" >Role catalog </a>
      </li>
    </div>

    <div *ngIf="auth.isAuthenticate() && auth.userRole==('Admin')">
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'users']" >User catalog </a>
      </li>
    </div>

    <div *ngIf="auth.isAuthenticate() && auth.userRole==('Moderator')">
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'publishers']" >Publisher catalog </a>
      </li>
    </div>

    <div *ngIf="auth.isAuthenticate() && auth.userRole==('Moderator')">
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'authors']" >Author catalog </a>
      </li>
    </div>

    <div *ngIf="auth.isAuthenticate() && auth.userRole==('Moderator')">
        <li routerLinkActive="active">
           <a [routerLink]="['/admin', 'book']"  >Add book</a>
        </li>
    </div>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin', 'dashboard']"  >Main</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/admin','user','edit',auth.Id]"  >Profile</a>
    </li>
    <li>
      <a href="#"(click)="logout($event)"  >Logout</a>
    </li>
      </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<app-alert class="Alert"></app-alert>
