<div class="home">
  <div class="textHeader">
    <h1>Welcome to the library</h1>
    <div class="text">
    <p>    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris euismod dui nec rhoncus viverra. Sed lobortis elit eros, vel commodo orci consectetur a.
      Vivamus id magna consequat, convallis eros quis, mattis est. Vivamus eget tincidunt ex, at molestie odio. Maecenas a elit imperdiet, convallis lectus vitae,
      vulputate purus. Sed aliquet metus lorem, a sollicitudin nunc tincidunt fringilla. Duis nibh felis, consectetur sed tempor ac, tempor nec odio. Maecenas aliquam,
      lacus vitae rhoncus vehicula, odio ipsum viverra metus, quis blandit quam orci in dolor. Curabitur lacinia odio sed eros bibendum sodales. Cras finibus ante sed
      velit rhoncus, at porttitor dolor egestas.</p>

      <p>
          Quisque cursus in odio sed accumsan. Cras efficitur accumsan arcu, eu tristique felis condimentum ut. Sed ac lectus sit amet justo vehicula tristique sed at arcu.
      Mauris consequat ante at semper mattis. Morbi nec nulla lobortis, facilisis lectus non, dictum ante. Sed consequat felis ut orci dignissim facilisis.
      Nullam at urna sit amet mi consequat ullamcorper. Proin vestibulum pretium faucibus. Sed tincidunt pharetra eros sed vehicula. Ut ullamcorper maximus ultrices.
      Etiam venenatis mi metus, et maximus nisl tempor nec.
      </p>

      <p>
          Nulla erat felis, sollicitudin nec blandit id, fermentum at mi. Aliquam vitae tincidunt odio. Nunc malesuada mauris nisl, in congue mi vehicula quis.
      Aenean arcu est, pellentesque at erat sit amet, scelerisque dictum ante. Sed a nisl vel risus imperdiet euismod. Aliquam erat volutpat.
      Praesent a mauris eu justo vestibulum pretium ut a eros. Cras ac magna hendrerit, pulvinar quam in, pharetra tortor.
      Phasellus enim eros, congue ac mattis eu, venenatis vel velit. Aliquam finibus ultricies ipsum vitae suscipit. Aliquam non aliquam ex, a maximus metus.
      Curabitur quis neque sit amet urna tempor semper quis et nisl. Nunc facilisis finibus velit at euismod. Vivamus est metus, dignissim non consectetur non,
      sodales lacinia nisl. Ut accumsan urna cursus tempor accumsan.
      </p>

      <div class="next">
      <h3> For further work, please <a (click)="routeLogin()"> LogIn</a>  or <a (click)="routeRegister()"> Register</a> ! </h3>
      </div>

  </div>
  </div>
</div>

