.editUser{
  background-color: rgba(255, 255, 255, 0.74);
  margin: 50px auto 0 auto;
  max-width: 400px;
  border-radius: 10px;
  padding: 20px 60px 20px 60px;
  .saveButton{
    margin-top: 20px;
  }
}
