.form-search {
  width: 300px;
  margin-bottom: 30px;
  position: revert;
}

.dashboardForm {
  background-color: rgba(144, 116, 116, 0.69);


  .Pag {
    text-align: center;

  }
}

.userTable {

  background-color: rgba(144, 116, 116, 0.69);

  .Pag {
    text-align: center;

  }

}


