<div class="form-search">
  <label>
    <input type="text" placeholder="Search" [(ngModel)]="searchStr">
  </label>
</div>

<div class="dashboardForm" *ngIf="userRole=='Moderator' else userTable">
  <table class="adminTable">
    <thead>
    <tr class="formText">
      <th>#</th>
      <th>Book</th>
      <th>Author</th>
      <th>Year of publishing</th>
      <th>Publisher</th>
      <th>Rating</th>
      <th> Doing</th>

    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let book of books|paginate: config| searchBooks: searchStr; let idx = index">
      <td>{{ config.itemsPerPage * (config.currentPage - 1) + idx + 1}}</td>

      <td>
        <button
          class="btn btn-link "
          [routerLink]="['/admin','book', book.bookId ]"
        >
          {{book.bookName}}
        </button>
      </td>

      <td>
        <button
          class="btn btn-link open"
          [routerLink]="['/admin','author', book.authorId ]"
        >
          {{book.authorName}}
        </button>

      </td>
      <td>{{book.yearOfPublishing}}</td>
      <td>
        <button
          class="btn btn-link open"
          [routerLink]="['/admin','publishing', book.publisherId ]"
        >
          {{book.publisherName}}
        </button>

      </td>
      <td>{{book.rating}}</td>
      <td>


        <button
          class="btn btn-link edit"
          [routerLink]="['/admin','book', 'edit', book.bookId ]"
        >Change
        </button>


        <a (click)="remove(book.bookId)"> Delete</a>


      </td>
    </tr>
    </tbody>
  </table>

  <pagination-controls class="Pag" (pageChange)="pageChanged($event)"></pagination-controls>
</div>


<ng-template #userTable>

  <div class="userTable">
    <table>
      <thead>
      <tr class="formText">
        <th>#</th>
        <th>Book</th>
        <th>Author</th>
        <th>Year of publishing</th>
        <th>Publisher</th>
        <th>Rating</th>

      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let book of books|paginate: config| searchBooks: searchStr; let idx = index">
        <td>{{ config.itemsPerPage * (config.currentPage - 1) + idx + 1}}</td>

        <td>
          <button
            class="btn btn-link "
            [routerLink]="['/admin','book', book.bookId ]"
          >
            {{book.bookName}}
          </button>
        </td>

        <td>
          <button
            class="btn btn-link open"
            [routerLink]="['/admin','author', book.authorId ]"
          >
            {{book.authorName}}
          </button>

        </td>
        <td>{{book.yearOfPublishing}}</td>
        <td>
          <button
            class="btn btn-link open"
            [routerLink]="['/admin','publishing', book.publisherId ]"
          >
            {{book.publisherName}}
          </button>

        </td>
        <td>{{book.rating}}</td>
      </tr>
      </tbody>
    </table>

    <pagination-controls class="Pag" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</ng-template>
