<form [formGroup]="form" (ngSubmit)="submit()" class="RegisterForm">
  <div class="textHeader">
    <h1>Add new User</h1>
  </div>
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('userLogin').touched&&form.get('userLogin').invalid}"
  >
    <label for="userLogin" class="formText">Login* </label>
    <input id="userLogin" type="text" formControlName="userLogin">
    <div
      class="validation"
      *ngIf="form.get('userLogin').touched&&form.get('userLogin').invalid"
    >
      <small *ngIf="form.get('userLogin').errors.required">
        Enter login:
      </small>
      <small *ngIf="form.get('userLogin').errors.minlength">
        Enter correct login, minimum length 9
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('userPassword').touched&&form.get('userPassword').invalid}"
  >
    <label for="userPassword" class="formText">Password* </label>
    <input id="userPassword" type="text" formControlName="userPassword">
    <div
      class="validation"
      *ngIf="form.get('userPassword').touched&&form.get('userPassword').invalid"
    >
      <small *ngIf="form.get('userPassword').errors.required">
        Enter password:
      </small>
      <small *ngIf="form.get('userPassword').errors.minlength">
        Enter the correct password, minimum length 9
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('email').touched&&form.get('email').invalid}"
  >
    <label for="email" class="formText">Email* </label>
    <input id="email" type="text" formControlName="email">
    <div
      class="validation"
      *ngIf="form.get('email').touched&&form.get('email').invalid"
    >
      <small *ngIf="form.get('email').errors.required">
        Add Email:
      </small>
      <small *ngIf="form.get('email').errors.email">
        Add correct Email
      </small>
    </div>
  </div>

  <div
    class="form-control"
  >
    <label for="userFirstName" class="formText">First name </label>
    <input id="userFirstName" type="text" maxlength="50" formControlName="userFirstName">
  </div>

  <div
    class="form-control"
  >
    <label for="userLastName" class="formText"> Last name </label>
    <input id="userLastName" type="text" maxlength="50" formControlName="userLastName">
  </div>


  <div
    class="form-control"
  >
    <label for="userYearsOld" class="formText">Years old</label>
    <input id="userYearsOld" type="text" pattern="\d{0,2}" maxlength="2" formControlName="userYearsOld">
    <div
      class="validation"
      *ngIf="form.get('userYearsOld').touched&&form.get('userYearsOld').invalid"
    >
      <small *ngIf="form.get('userYearsOld').errors.pattern">
        Only numbers can be used
      </small>
    </div>
  </div>

  <div
    class="form-control"
  >
    <label for="phoneNumber" class="formText">Phone number</label>
    <input id="phoneNumber" type="text" maxlength="50" formControlName="phoneNumber">
  </div>


  <button
    type="submit"
    class="btn btn-block btn-primary"
    [disabled]="form.invalid"
  >Save
  </button>


</form>




