<form [formGroup]="form" (ngSubmit)="submit()" >
  <h1>Добавление новой пользователя</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('userLogin').touched&&form.get('userLogin').invalid}"
  >
    <label for="userLogin">Логин* </label>
    <input id="userLogin" type="text" formControlName="userLogin">
    <div
      class="validation"
      *ngIf="form.get('userLogin').touched&&form.get('userLogin').invalid"
    >
      <small *ngIf="form.get('userLogin').errors.required">
        Введите логин:
      </small>
      <small *ngIf="form.get('userLogin').errors.minlength">
        Введите правельный логин, минимальная длина 9
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('userPassword').touched&&form.get('userPassword').invalid}"
  >
    <label for="userPassword">Пароль* </label>
    <input id="userPassword" type="text" formControlName="userPassword">
    <div
      class="validation"
      *ngIf="form.get('userPassword').touched&&form.get('userPassword').invalid"
    >
      <small *ngIf="form.get('userPassword').errors.required">
        Введите пароль:
      </small>
      <small *ngIf="form.get('userPassword').errors.minlength">
        Введите правельный пароль, минимальная длина 9
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('email').touched&&form.get('email').invalid}"
  >
    <label for="email">Email* </label>
    <input id="email" type="text" formControlName="email">
    <div
      class="validation"
      *ngIf="form.get('email').touched&&form.get('email').invalid"
    >
      <small *ngIf="form.get('email').errors.required">
        Введите Email:
      </small>
      <small *ngIf="form.get('email').errors.email">
        введите правельный Email
      </small>
    </div>
  </div>

  <div
    class="form-control"
      >
    <label for="userFirstName">Имя пользователя </label>
    <input id="userFirstName" type="text" formControlName="userFirstName">
    </div>

  <div
    class="form-control"
      >
    <label for="userLastName"> Фамилия пользователя </label>
    <input id="userLastName" type="text" formControlName="userLastName">
    </div>


  <div
    class="form-control"
      >
    <label for="userYearsOld">Возраст пользователя</label>
    <input id="userYearsOld" type="text" formControlName="userYearsOld">
    </div>

  <div
    class="form-control"
     >
    <label for="phoneNumber">номер телефона</label>
    <input id="phoneNumber" type="text" formControlName="phoneNumber">
    </div>


  <button
    type="submit"
    class="btn btn-block btn-primary"
    [disabled]="form.invalid"
  >Save</button>

</form>




