<form [formGroup]="form" (ngSubmit)="submit()" >
  <h1>Добавление новой книги</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('bookName').touched&&form.get('bookName').invalid}"
  >
    <label for="bookName">Название книги </label>
    <input id="bookName" type="text" formControlName="bookName">
    <div
      class="validation"
      *ngIf="form.get('bookName').touched&&form.get('bookName').invalid"
    >
      <small *ngIf="form.get('bookName').errors.required">
        Введите название книги:
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('bookFileAddress').touched&&form.get('bookFileAddress').invalid}"
  >
    <label for="bookFileAddress"> Адрес файла </label>
    <input id="bookFileAddress" type="text" formControlName="bookFileAddress">
    <div
      class="validation"
      *ngIf="form.get('bookFileAddress').touched&&form.get('bookFileAddress').invalid"
    >
      <small *ngIf="form.get('bookFileAddress').errors.required">
        Введите адрес файла:
      </small>
    </div>
  </div>


  <div
    class="form-control"
    [ngClass]="{invalid: form.get('authorName').touched&&form.get('authorName').invalid}"
  >
    <label for="authorName">Имя автора </label>
    <input id="authorName" type="text" formControlName="authorName">
    <div
      class="validation"
      *ngIf="form.get('authorName').touched&&form.get('authorName').invalid"
    >
      <small *ngIf="form.get('authorName').errors.required">
        Введите имя автора:
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('yearOfPublishing').touched&&form.get('yearOfPublishing').invalid}"
  >
    <label for="yearOfPublishing">год издательства </label>
    <input id="yearOfPublishing" type="text" formControlName="yearOfPublishing">
    <div
      class="validation"
      *ngIf="form.get('yearOfPublishing').touched&&form.get('yearOfPublishing').invalid"
    >
      <small *ngIf="form.get('yearOfPublishing').errors.required">
        Введите год издания:
      </small>
    </div>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('publisherName').touched&&form.get('publisherName').invalid}"
  >
    <label for="publisherName">Название издательства </label>
    <input id="publisherName" type="text" formControlName="publisherName">
    <div
      class="validation"
      *ngIf="form.get('publisherName').touched&&form.get('publisherName').invalid"
    >
      <small *ngIf="form.get('publisherName').errors.required">
        Введите название издательства:
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-block btn-primary"
    [disabled]="form.invalid"
     >Save</button>

</form>



