.bookAdd {
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 10px;
  margin: 60px auto 0 auto;
  padding: 10px 25px 10px 25px;
  max-width: 600px;


  .upload {
    display: flex;
    justify-content: left;
    align-items: normal;
  }


}

