.usersPage {
  margin: 0px auto 0 auto;
  max-width: 1200px;

  .user-search {
    width: 300px;
    margin-bottom: 30px;
  }

  .userForm {
    background-color: rgba(144, 116, 116, 0.69);
    max-width: 1200px;
    margin: 30px auto 0 auto;

    .Pag {
      text-align: center;
    }
  }
}
