<div class="publisher-search">
  <input type="text" placeholder="Search" [(ngModel)]="searchStr">
</div>

<div class="publisherForm" *ngIf="userRole=='Moderator'">
  <table>
    <thead>
    <tr class="formText">
      <th>#</th>
      <th>Publisher name</th>
      <th>Publisher phone</th>
      <th>Publisher Email</th>
      <th>Publisher info</th>
      <th> Doing</th>

    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let publisher of publishers|paginate: config| searchPublishers: searchStr; let idx = index">
      <td>{{ config.itemsPerPage * (config.currentPage - 1) + idx + 1}}</td>

      <td>{{publisher.publisherName}}</td>

      <td>{{publisher.publisherTellNumber}}</td>

      <td>{{publisher.publisherEmail}}</td>

      <td>{{publisher.publisherInfo}}</td>


      <td>
        <button
          class="btn btn-link edit"
          [routerLink]="['/admin','publisher', 'edit', publisher.publisherId ]"
        >Change
        </button>

        <a (click)="remove(publisher.publisherId)"> Delete</a>

      </td>
    </tr>
    </tbody>
  </table>

  <pagination-controls class="Pag" (pageChange)="pageChanged($event)"></pagination-controls>
</div>
