.publisher-search {
  width: 300px;
  margin-bottom: 30px;
  position: revert;
}

.publisherForm {
  background-color: rgba(144, 116, 116, 0.69);
  max-width: 1400px;


  .Pag {
    text-align: center;

  }
}
